In [20]:
import pandas as pd
from pylift import TransformedOutcome

ImportError: cannot import name 'RandomForestRegressor' from 'sklearn.ensemble' (unknown location)

In [4]:
df = pd.read_csv('/Users/viswanath.g/Desktop/Uplift/criteo-uplift-v2.1.csv')

In [5]:
df.shape

(13979592, 16)

In [6]:
df.columns

Index(['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       'f11', 'treatment', 'conversion', 'visit', 'exposure'],
      dtype='object')

In [7]:
df.treatment.value_counts(normalize=True)

1    0.85
0    0.15
Name: treatment, dtype: float64

In [8]:
df.visit.value_counts(normalize=True)

0    0.953008
1    0.046992
Name: visit, dtype: float64

In [9]:
df.agg({'treatment':['mean'], 'visit':['mean'], 'conversion':['mean']})

      treatment     visit  conversion
mean       0.85  0.046992    0.002917

In [11]:
df.groupby(['treatment']).agg({'exposure':['mean', 'count'], 'visit':['mean'], 'conversion':['mean']})

           exposure               visit conversion
               mean     count      mean       mean
treatment
0          0.000000   2096937  0.038201   0.001938
1          0.036037  11882655  0.048543   0.003089

In [14]:
df.groupby(['treatment', 'exposure']).agg({'visit':['mean'], 'conversion':['mean']})

                       visit conversion
                        mean       mean
treatment exposure
0         0         0.038201   0.001938
1         0         0.034861   0.001194
          1         0.414538   0.053784

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13979592 entries, 0 to 13979591
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   f0          float64
 1   f1          float64
 2   f2          float64
 3   f3          float64
 4   f4          float64
 5   f5          float64
 6   f6          float64
 7   f7          float64
 8   f8          float64
 9   f9          float64
 10  f10         float64
 11  f11         float64
 12  treatment   int64
 13  conversion  int64
 14  visit       int64
 15  exposure    int64
dtypes: float64(12), int64(4)
memory usage: 1.7 GB

In [16]:
df.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.976429,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
1,12.616365,10.059654,9.002689,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2,12.616365,10.059654,8.964775,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
3,12.616365,10.059654,9.002801,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
4,12.616365,10.059654,9.037999,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0

In [19]:
df1 = df.drop(['exposure', 'conversion'], axis=1)
df1.columns

Index(['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       'f11', 'treatment', 'visit'],
      dtype='object')